.profile-container {
  @apply md:mt-[122px] mt-[50px] lg:px-[90px] px-[16px];
}

.profile-container-image {
  @apply flex items-end justify-center;
  @apply w-[184px] h-[184px] rounded-full bg-gray-400 overflow-hidden;
}

.profile-container-image img {
  @apply object-cover rounded-full;
}

.progress-container {
  @apply text-center w-[250px] h-[5px] mx-auto mt-[50px] relative;
}

.progress-bar {
  @apply relative h-[5px] bg-[#e0e0e0] rounded-[5px] m-[10px_0];
}

.progress {
  height: 100%;
  background: linear-gradient(to right, #2ec4b6, #a6cee3);
  border-radius: 5px;
}

/* .badge-container {
  position: absolute;
  top: -35px;
  left: 80%;
  transform: translateX(-50%);
} */

.badge-image {
  @apply w-[32px] h-[32px] absolute top-[-35px];
}

.badge-text {
  @apply bg-[#2ec4b6] text-white px-[2px] py-[6px] text-[5px] rounded-[12px];
}

.progress-text {
  @apply mt-[10px] text-[14px] text-gray-600;
}

.username {
  @apply mt-[38px] md:text-[36px] text-[20px] font-[Rubik] font-medium dark:text-spl-white;
} 

.user-address {
  @apply mt-[10px] md:text-[24px] text-[15px] dark:text-spl-white;
}

.profile-points-card {
  @apply lg:w-[832px] w-full h-fit p-[36px] dark:bg-[#042822] bg-spl-green-300 md:rounded-[45px] rounded-[20px] flex justify-between items-center;
}


.profile-withdraw-card {
  @apply lg:w-[832px] w-full h-fit p-[36px] dark:bg-[#042822] bg-spl-green-300 md:rounded-[45px] rounded-[20px] flex flex-col items-center justify-center;
}

.disconnect-button {
  @apply bg-red-600 text-spl-white text-[15px] font-bold font-[Lato] py-[10px] px-[20px] rounded-[10px] w-[277px] h-[56px];
}
