// Hero Section
.hero-section {
  @apply w-full flex mt-[53px] md:px-0 px-[16px];
}


// What We Do
.what-we-do {
  @apply max-w-full flex flex-col items-center justify-center md:px-[90px] px-[16px];
}


// How It Works
.how-it-works {
  @apply max-w-full flex flex-col items-center justify-center md:px-0 px-[16px];

  .how-it-works-cards-container {
    @apply flex flex-col flex-wrap gap-[26px] md:mt-[148px] mt-[24px] relative;
  }
}

// Scoring System
.scoring-system {
  @apply max-w-full flex flex-col md:gap-[60px] gap-[44px] items-center justify-center md:h-[694px] px-[16px] py-[34px];

  background: rgba(0, 100, 76, 1);
  background-image: url("../../../../assets//scoringSystem//hashed_background.svg");

  .scoring-system-cards-container {
    @apply flex flex-wrap gap-[44px] justify-center;
  }
}


// Upcoming Matches
.upcoming-matches {
  @apply max-w-full flex flex-col items-center justify-center md:py-[70px] py-[24px] md:px-[90px] px-[16px];
}
