.button-container {
  @apply px-[14px] flex justify-center items-center gap-[6px] border border-transparent text-spl-white font-bold leading-[25.7px];

  background: 
  radial-gradient(176.68% 982.5% at 0% 0%, rgba(0, 202, 154, 0.6) 0%, rgba(0, 100, 76, 0.6) 100%),
  linear-gradient(0deg, #0E131E, #0E131E);

  border: 1px solid transparent;

  border: 2px solid #00CB59;  

  transition: background 0.3s, transform 0.1s;

  &:hover {
    background: 
    radial-gradient(176.68% 982.5% at 0% 0%, rgba(0, 202, 154, 0.8) 0%, rgba(0, 100, 76, 0.8) 100%);
  }

  &:active {
    transform: scale(0.97);
  }
}
