.button-container {
  @apply px-[14px] flex justify-center items-center gap-[6px] border border-transparent font-bold leading-[25.7px];

  background: var(
    --button-background,
    radial-gradient(
      176.68% 982.5% at 0% 0%,
      rgba(0, 202, 154, 0.6) 0%,
      rgba(0, 100, 76, 0.6) 100%
    ),
    linear-gradient(0deg, #0e131e, #0e131e)
  );

  border: 1px solid transparent;

  border: 2px solid #00cb59;

  transition: background 0.3s, transform 0.1s;

  color: var(--text-color, #ffffff);
}

.button-container:hover {
  background: var(
    --button-background-hover,
    radial-gradient(
      176.68% 982.5% at 0% 0%,
      rgba(0, 202, 154, 0.8) 0%,
      rgba(0, 100, 76, 0.8) 100%
    )
  );
}

.button-container:active {
  transform: scale(0.97);
}
