.header-container {
  @apply w-full h-[85px] flex items-center px-[16px] md:px-[90px] sticky top-0 z-50 bg-[#042822];
}

.header-content {
  @apply flex justify-between items-center w-full  mx-auto;
}

.hamburger-icon {
  @apply rounded-full bg-spl-green-300 p-[5px];
}

.hamburger-icon {
  display: none;

  /* // @media (max-width: 768px) {
  //   display: block;
  //   cursor: pointer;
  // } */
}

@media (max-width: 768px) {
  .hamburger-icon {
    display: block;
    cursor: pointer;
  }
}

/* // SideDrawer.scss */
.side-drawer {
  position: fixed;
  top: 0;
  right: -400px;
  height: 400px;
  background: #031614;
  border: 1px solid transparent;
  border: 0.5px solid #00cb59;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: right 0.3s ease;
  padding: 10px;
  z-index: 1000;
}

.side-drawer.open {
  right: 0;
}

.nav-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
