.leaderboard-hero {
  @apply w-full px-[16px] md:px-[90px];

  &-container {
    @apply w-full md:h-[614px] h-[299px] p-5 bg-no-repeat bg-cover rounded-[36px] flex justify-center items-end;

    background-image: url("../../../assets/prediction/prdict_hero_bg.svg");
  }

  &-content-card {
    @apply md:w-[726px] w-full md:h-[258px] h-[142px] bg-white rounded-[36px] md:p-5 p-3 grid grid-cols-3;
  }

  &-content-card-item {
    @apply w-full h-full bg-spl-white relative;

    &-center {
      @apply w-full md:h-[337px] h-[181px] bg-spl-white absolute md:-top-[115px] -top-[70px] left-0 md:rounded-[60px] rounded-[25px] border border-[#00000033];

      box-shadow: 0px 4px 20px 0px #0000001a;

      &-content{
        @apply w-full h-full relative;
      }
    }

    &-image{
      @apply absolute md:-top-[120px] -top-[60px] left-1/2 transform -translate-x-1/2 md:w-[144px] md:h-[165px] w-[62px] h-[71px];
    }
  }
}
