@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pilat Extended";
  src: url("./assets/fonts/pilat-extended/PilatExtended-Bold.eot");
  src: local("Pilat Extended Bold"), local("PilatExtended-Bold"),
    url("./assets/fonts/pilat-extended/PilatExtended-Bold.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/pilat-extended/PilatExtended-Bold.woff2") format("woff2"),
    url("./assets/fonts/pilat-extended/PilatExtended-Bold.woff") format("woff"),
    url("./assets/fonts/pilat-extended/PilatExtended-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Pilat Extended";
  src: url("./assets/fonts/pilat-extended/PilatExtended-Regular.eot");
  src: local("Pilat Extended Regular"), local("PilatExtended-Regular"),
    url("./assets/fonts/pilat-extended/PilatExtended-Regular.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/pilat-extended/PilatExtended-Regular.woff2") format("woff2"),
    url("./assets/fonts/pilat-extended/PilatExtended-Regular.woff") format("woff"),
    url("./assets/fonts/pilat-extended/PilatExtended-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pilat Extended";
  src: url("./assets/fonts/pilat-extended/PilatExtended-Thin.eot");
  src: local("Pilat Extended Thin"), local("PilatExtended-Thin"),
    url("./assets/fonts/pilat-extended/PilatExtended-Thin.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/pilat-extended/PilatExtended-Thin.woff2") format("woff2"),
    url("./assets/fonts/pilat-extended/PilatExtended-Thin.woff") format("woff"),
    url("./assets/fonts/pilat-extended/PilatExtended-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Pilat Extended";
  src: url("./assets/fonts/pilat-extended/PilatExtended-Heavy.eot");
  src: local("Pilat Extended Heavy"), local("PilatExtended-Heavy"),
    url("./assets/fonts/pilat-extended/PilatExtended-Heavy.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/pilat-extended/PilatExtended-Heavy.woff2") format("woff2"),
    url("./assets/fonts/pilat-extended/PilatExtended-Heavy.woff") format("woff"),
    url("./assets/fonts/pilat-extended/PilatExtended-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Pilat Extended";
  src: url("./assets/fonts/pilat-extended/PilatExtended-Light.eot");
  src: local("Pilat Extended Light"), local("PilatExtended-Light"),
    url("./assets/fonts/pilat-extended/PilatExtended-Light.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/pilat-extended/PilatExtended-Light.woff2") format("woff2"),
    url("./assets/fonts/pilat-extended/PilatExtended-Light.woff") format("woff"),
    url("./assets/fonts/pilat-extended/PilatExtended-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Pilat Extended Book";
  src: url("./assets/fonts/pilat-extended/PilatExtended-Book.eot");
  src: local("Pilat Extended Book"), local("PilatExtended-Book"),
    url("./assets/fonts/pilat-extended/PilatExtended-Book.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/pilat-extended/PilatExtended-Book.woff2") format("woff2"),
    url("./assets/fonts/pilat-extended/PilatExtended-Book.woff") format("woff"),
    url("./assets/fonts/pilat-extended/PilatExtended-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pilat Extended Demi";
  src: url("./assets/fonts/pilat-extended/PilatExtended-DemiBold.eot");
  src: local("Pilat Extended DemiBold"), local("PilatExtended-DemiBold"),
    url("./assets/fonts/pilat-extended/PilatExtended-DemiBold.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/pilat-extended/PilatExtended-DemiBold.woff2") format("woff2"),
    url("./assets/fonts/pilat-extended/PilatExtended-DemiBold.woff") format("woff"),
    url("./assets/fonts/pilat-extended/PilatExtended-DemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Pilat Extended";
  src: url("./assets/fonts/pilat-extended/PilatExtended-Black.eot");
  src: local("Pilat Extended Black"), local("PilatExtended-Black"),
    url("./assets/fonts/pilat-extended/PilatExtended-Black.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/pilat-extended/PilatExtended-Black.woff2") format("woff2"),
    url("./assets/fonts/pilat-extended/PilatExtended-Black.woff") format("woff"),
    url("./assets/fonts/pilat-extended/PilatExtended-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

body {
  margin: 0;
  @apply dark:bg-spl-green-600 bg-spl-white;
  font-family: "Pilat Extended", sans-serif;
}

p {
  margin: 0;
}

// Scoring System
.scoring-system-box-shadow {
  box-shadow: 20px 4px 4px 0px #00000040;
}
